.faq{
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.accordion{
    width: 500px;
    
}
.item{
    background-color: #ffff;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.tittle{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    color: #c8c8c8;
}

@media screen and (max-width : 769px){
    h2{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
    .accordion{
        width: 300px;
    }
    .faq{
        font-size: 15px;
    }
}